@size: 60px;
@height: 20px;
@width: 100%;
@line-size: 2px;
@line-color: @white;
@line-radius: @line-size;
@to-translate: ((@height - @line-size) / 2);
@bounce: cubic-bezier(.87,-.50,.19,1.50);

@keyframes burger-appear {
  0%   { width: 0 }
  100% { width: @width }
}

@keyframes burger-opacity {
  0%   { opacity: 0 }
  100% { width: @width }
}

.burger {
  position: relative;
  text-align: center;
  margin-left: auto;
  display: block;
  z-index: 10;
  height: @size;
  width: @size;
  cursor: pointer;
  overflow: hidden;
  z-index: 10;

  &__icon {
    position: absolute;
    width: @width;
    height: @height;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__line {
    position: absolute;
    left: 0;
    background-color: @line-color;
    height: @line-size;
    width: @width;
    border-radius: @line-radius;
    pointer-events: none;

    &--1 {
      top: 0;
      transition: width .2s ease-in-out .7s;
    }

    &--2 {
      top: 0;
      bottom: 0;
      margin: auto;
      transition: width .2s ease-in-out .65s;
    }

    &--3 {
      bottom: 0;
      transition: width .2s ease-in-out .6s;
    }

    &--4,
    &--5 {
      opacity: 0;
      top: @to-translate;
      transition:
        opacity .2s ease-in-out .4s,
        transform .2s ease-in-out .4s;
    }

    &--4 {
      transform: rotate(45deg) translate3d(-@width,0,0);
      transition:
        opacity .2s ease-in-out .2s,
        transform .2s ease-in-out .2s;
    }

    &--5 {
      transform:  rotate(-45deg) translate3d(@width,0,0);
      transition:
        opacity .2s ease-in-out,
        transform .2s ease-in-out;
    }
  }

  &--is-active {

    .burger__line  {

      &--1 {
        width: 0;
        transition: width .2s ease-in-out;
      }

      &--2 {
        width: 0;
        transition: width .2s ease-in-out .05s;
      }

      &--3 {
        width: 0;
        transition: width .2s ease-in-out .1s;
      }

      &--4 {
        opacity: 1;
        transform: rotate(45deg) translate3d(0,0,0);
        transition:
          opacity .2s ease-in-out .5s,
          transform .2s ease-in-out .5s;
      }

      &--5 {
        opacity: 1;
        transform: rotate(-45deg) translate3d(0,0,0);
        transition:
          opacity .2s ease-in-out .7s,
          transform .2s ease-in-out .7s;
      }
    }
  }
}