.contacts {
  // background-color: @gray-darkest;
  // background-image: url(../images/bg--contacts.png);
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center;
  color: @gray-lighter;
  min-height: 100vh;

  @media (min-width: @screen-sm) {
    min-height: none;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      background-color: currentColor;
      width: 1px;
      height: 20vh;
      top: 0;
      left: 3rem;
    }

    @media (min-width: @screen-sm) {

      &::before {
        left: 35%;
      }
    }

    @media (min-width: @screen-md) {

      &::before {
        left: 30%;
      }
    }

    @media (min-width: @screen-lg) {

      &::before {
        left: 35%;
      }
    }
  }

  &__title {
    font-family: @font-family--heading;
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    margin-bottom: 1rem;

    // opacity: 0;
    // transform: translateY(-2rem);
    // transition-duration: .5s;
    // transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

    @media (min-width: @screen-sm) {
      font-size: 30px;
    }

    span {
      text-transform: none;
      font-size: 16px;
      font-weight: 700;
    }
  }

  &__delimiter {
    width: 1px;
    position: relative;
    height: 70px;
    background: transparent;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      background-color: currentColor;
      width: 1px;
      height: 0;
      transition-property: all;
      transition-duration: .5s;
      transition-timing-function: linear;
      transition-delay: .5s;
    }
  }

  &__address {
    font-style: normal;
    padding: 1rem;

    ul {
      list-style-type: none;

      li {

        a {
          color: currentColor;
          font-weight: 700;
          padding: .25em;
          display: inline-block;
          tranition: all 0.1s linear;
          letter-spacing: 0.025em;

          &:hover {
            transform: scale(1.05);
          }
        }

        a[href^='tel:'] {
          font-size: 16px;

          @media (min-width: @screen-sm) {
            font-size: 20px;
          }
        }

        a[href^='mailto:'] {
          font-size: 20px;

          @media (min-width: @screen-sm) {
            font-size: 24px;
          }
        }
      }
    }
  }

  &.active {

    .contacts__delimiter {

      &::before {
        height: 100%;
        transition-property: all;
        transition-duration: .7s;
        transition-timing-function: easy-in-out;
        transition-delay: .5s;
      }
    }
  }
}