.fullscreen-nav {
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  right: 0;
  width: 80%;
  height: 100%;
  transform: translateX(100%);
  background-color: rgba(0,0,0, 0.97);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0;

  @media (min-width: @screen-sm) {
    width: 30%;
  }

  @media (min-width: @screen-md) {
    transition:
      transform .5s cubic-bezier(0.16, 0.68, 0.43, 0.99) .4s,
      box-shadow .3s cubic-bezier(0.16, 0.68, 0.43, 0.99) .4s;
  }

  &__list {
    list-style-type: none;
    text-align: center;
  }

  &__item {
    text-transform: uppercase;
    margin: .5rem;

    a {
      color: @white;
      padding: .5rem;
      display: block;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  &--is-open {
    transform: translateX(0);
    box-shadow: 0 16px 38px 0 rgba(0,0,0,0.50), inset 0 1px 0 0 rgba(255,255,255,0.00);
    transition:
      transform .5s cubic-bezier(0.16, 0.68, 0.43, 0.99) .4s,
      box-shadow .3s cubic-bezier(0.16, 0.68, 0.43, 0.99) .4s;
  }
}