.main-nav {
  display: none;
  text-align: right;

  // @media (min-width: @screen-lg) {
  //   display: block;
  // }

  &__list {
    list-style-type: none;
    font-weight: 400;

    li {
      display: inline-block;
      margin: .5em;

      a {
        display: inline-block;
        color: @white;
        padding: .75em;
        mix-blend-mode: difference
      }
    }
  }
}