.portfolio {
  // background-color: @brown;
  color: @gray-lighter;

  &__inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      background-color: currentColor;
      width: 1px;
      height: 100%;
      left: 3rem;
      top: 0;
      z-index: 1;
    }

    @media (min-width: @screen-sm) {
      padding: 0;

      &::before {
        left: 35%;
      }
    }

    @media (min-width: @screen-md) {
      flex-direction: row;
      min-height: 100%;

      &::before {
        left: 30%;
      }
    }

    @media (min-width: @screen-lg) {

      &::before {
        left: 35%;
      }
    }
  }

  &__desc {
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;

    @media (min-width: @screen-sm) {
      padding: 2rem 0;
    }

    @media (min-width: @screen-md) {
      padding: 0;
      width: 30%;
    }

    @media (min-width: @screen-lg) {
      width: 35%;
    }
  }

  &__desc-content {
    display: none;

    @media (min-width: @screen-md) {
      display: block;
      padding: 3rem;
    }

    @media (min-width: 1440px) {
      padding-top: 15vh;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @media (min-width: 1920px) {
      padding-top: 20vh;
    }

    ul {
      // list-style-type: none;
      line-height: @line-height;
      margin-left: 1.5rem;

      li {
        padding-left: 1rem;
        margin-bottom: .5rem;
      }
    }
  }

  &__title {
    position: relative;
    z-index: 2;
    // background-color: #dfdcd9;
    padding: 1rem 0;
    margin-bottom: 2rem;
    font-weight: 700;

    @media (min-width: @screen-sm) {
      text-align: center;
      left: 0;
      max-width: 300px;
      margin-bottom: 2rem;
      // transform: translateX(-50%);
      top: 3rem;
    }

    @media (min-width: 1440px) {
      top: 10%;
    }
  }

  &__works {
    z-index: 2;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;

    @media (min-width: @screen-sm) {
      justify-content: center;
      padding: 2rem 0;
    }

    @media (min-width: @screen-md) {
      width: 70%;
      box-shadow: none;
    }

    @media (min-width: @screen-lg) {
      width: 65%;
    }
  }

  &.active {

    @media (min-width: @screen-md) {

      .work-card {
        opacity: 1;

        &:nth-child(1) {
          transition:
            transform .7s cubic-bezier(0.16, 0.68, 0.43, 0.99) 0s,
            opacity .7s ease-in-out .2s,
            box-shadow .5s linear 0s;
        }
        &:nth-child(2) {
          transition:
            transform .7s cubic-bezier(0.16, 0.68, 0.43, 0.99) 0s,
            opacity .7s ease-in-out .3s,
            box-shadow .5s linear 0s;
        }
        &:nth-child(3) {
          transition:
            transform .7s cubic-bezier(0.16, 0.68, 0.43, 0.99) 0s,
            opacity .7s ease-in-out .4s,
            box-shadow .5s linear 0s;
        }
        &:nth-child(4) {
          transition:
            transform .7s cubic-bezier(0.16, 0.68, 0.43, 0.99) 0s,
            opacity .7s ease-in-out .5s,
            box-shadow .5s linear 0s;
        }
      }
    }
  }
}