@keyframes bg-scale {
  0%   { transform: scale(1.2); }
  100% { transform: scale(1); }
}

@keyframes appear {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes draw-line {
  0%   { height: 0; }
  100% { height: 30%; }
}

.promo {
  // background-color: @gray-darkest;
  // background-image: url(../images/bg--promo.jpg);
  // background-position: 50% 0;
  // background-repeat: no-repeat;
  // background-size: cover;
  color: @gray-lighter;
  overflow: hidden;
  position: relative;
  width: 100%;
  min-height: 100vh;

  // &__background-image {
  //   object-fit: cover;
  //   position: absolute;
  //   left: 0;
  //   right: 0;
  //   top: 0;
  //   bottom: 0;
  //   width: 100%;
  //   height: 100%;
  //   animation-name: bg-scale;
  //   animation-duration: 10s;
  //   animation-delay: 0s;
  //   animation-timing-function: ease-in-out;
  //   animation-fill-mode: forwards;
  // }

  &__inner {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @supports ( display: flex ) {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__desc {
    opacity: 0;
    font-size: @font-size--h4;
    animation-name: appear;
    animation-duration: .7s;
    animation-delay: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    margin: 0;
    text-transform: lowercase;
    letter-spacing: .075em;

    @media (min-width: @screen-sm) {
      font-size: @font-size--h3;
    }
  }

  &__line-down {
    position: absolute;
    width: 1px;
    height: 0;
    background-color: currentColor;
    top: 70%;
    left: 3rem;
    z-index: 2;
    animation-name: draw-line;
    animation-duration: 1s;
    animation-delay: 2.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;

    @media (min-width: @screen-sm) {
      left: 35%;
    }

    @media (min-width: @screen-md) {
      left: 30%;
    }

    @media (min-width: @screen-lg) {
      left: 35%;
    }
  }
}