@color: #4a4a4a;

.services {
  // background-color: @brown;
  color: @gray-lighter;

  &__inner {
    position: relative;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 2rem;

    &::before {
      position: absolute;
      content: '';
      background-color: currentColor;
      width: 1px;
      height: 100%;
      left: 3rem;
      top: 0;
    }

    @media (min-width: @screen-sm) {
      flex-direction: row;
      padding: 0;

      &::before {
        display: none;
      }
    }
  }

  &__desc {
    width: 100%;
    position: relative;

    @media (min-width: @screen-sm) {
      width: 35%;
      padding: 0;
    }

    @media (min-width: @screen-md) {
      width: 30%;
    }

    @media (min-width: @screen-lg) {
      width: 35%;
    }
  }

  &__title {
    position: relative;
    z-index: 2;
    font-weight: 700;
    // background-color: #dfdcd9;
    padding: 1rem 0;
    max-width: 300px;

    @media (min-width: @screen-sm) {
      text-align: center;
      // left: 100%;
      margin-bottom: 2rem;
      // transform: translateX(-50%);
      top: 3rem;
    }

    @media (min-width: 1440px) {
      top: 10%;
    }
  }

  &__types {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &::before {
      display: none;
      position: absolute;
      content: '';
      background-color: currentColor;
      width: 1px;
      height: 100%;
      left: 0;
      top: 0;
    }

    @media (min-width: @screen-sm) {
      width: 65%;

      &::before {
        display: block;
      }
    }

    @media (min-width: @screen-md) {
      width: 70%;
    }

    @media (min-width: @screen-lg) {
      width: 65%;
    }
  }

  &__types-content {
    transform: translateX(1rem);
    font-size: @font-size--small;
    margin: 2rem 0;

    @media (min-width: @screen-sm) {
      margin: 10rem 0 0 0;
      transform: translateX(1px);
    }

    @media (min-width: @screen-md) {
      margin: 0;
    }
  }

  &__types-list {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 4rem;
    }

    @media (min-width: @screen-sm) {

      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }

    @media only screen
      and (min-device-width: 1024px)
      and (max-device-width: 1366px)
      and (orientation: portrait)
      and (-webkit-min-device-pixel-ratio: 1.5) {
      &:not(:last-child) {
        margin-bottom: 4rem;
      }
    }

    @media only screen
      and (min-device-width: 1024px)
      and (max-device-width: 1366px)
      and (orientation: landscape)
      and (-webkit-min-device-pixel-ratio: 1.5) {
      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }
  }

  &__types-term {
    display: block;
    // text-transform: uppercase;
    position: relative;
    padding-left: 2rem;
    font-weight: 600;
    letter-spacing: 0.025em;

    &::before {
      position: absolute;
      // box-shadow: 0 5px 19px 0 rgba(0,0,0,0.50), inset 0 1px 0 0 rgba(255,255,255,0.00);
      content: attr(data-number);
      padding-top: 12px;
      background-color: @gray-lighter;
      color: @text-color;
      font-weight: 700;
      width: 40px;
      height: 40px;
      top: 0;
      left: 0;
      border-radius: 25px;
      text-align: center;
      transform: translate(-50%, -10px);
    }

    @media (min-width: @screen-sm) {
      position: absolute;
      text-align: right;
      top: 10px;
      left: -250px;
      width: 200px;
      padding-left: 0;

      &::before {
        display: none;
      }
    }
  }

  &__types-desc {
    margin: 0;
    max-width: 550px;
    position: relative;
    line-height: 1.5em;
    padding-left: 50px;
    display: none;
    transition: transform .7s cubic-bezier(0.16, 0.68, 0.43, 0.99),
        opacity .7s ease-in-out;

    &::before {
      position: absolute;
      // box-shadow: 0 5px 19px 0 rgba(0,0,0,0.50), inset 0 1px 0 0 rgba(255,255,255,0.00);x
      content: attr(data-number);
      padding: 9px 0 0 1px;
      background-color: @gray-lighter;
      color: @text-color;
      font-weight: 700;
      width: 40px;
      height: 40px;
      top: 0;
      left: 0;
      border-radius: 25px;
      text-align: center;
      transform: translate(-50%, 0);
    }

    @media (min-width: @screen-sm) {
      display: block;
      max-width: 90%;
    }

    @media (min-width: @screen-md) {
      opacity: 0;
      transform: translateY(5rem);
      max-width: 700px;
    }
  }

  &.active {

    @media (min-width: @screen-md) {

      .services__types-term,
      .services__types-desc {
        transform: translateY(0);
        opacity: 1;

        &[data-number="01"] {
          transition-delay: .4s;
        }
        &[data-number="02"] {
          transition-delay: .45s;
        }
        &[data-number="03"] {
          transition-delay: .5s;
        }
        &[data-number="04"] {
          transition-delay: .55s;
        }
        &[data-number="05"] {
          transition-delay: .6s;
        }
      }
    }
  }
}