.title {
  font-family: @font-family--heading;
  font-weight: 800;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.075rem;
  user-select: none;
  cursor: default;

  @media (min-width: @screen-xs) {
    font-size: 3.5em;
    letter-spacing: 0.2em;
  }

  @media (min-width: @screen-sm) {
    font-size: 4em;
  }

  @media (min-width: @screen-md) {
    font-size: 4.5em;
  }

  @media (min-width: @screen-lg) {
    font-size: 8em;
  }
}