.work-card {
  display: flex;
  background-color: #000;
  flex: 100% 0 0;
  height: 200px;
  cursor: pointer;
  margin: auto;
  transition-property: box-shadow, transform;
  transition-duration: .7s;
  transition-timing-function: liner, easy-in-out;
  box-shadow: 0 16px 38px 0 rgba(0,0,0,0.50), inset 0 1px 0 0 rgba(255,255,255,0.00);

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  &:hover {
    box-shadow: 0 16px 38px 0 rgba(0,0,0,0.50), inset 0 1px 0 0 rgba(255,255,255,0.00);
  }

  @media (min-width: @screen-xs) {
    margin: 1rem;
    margin-bottom: 1rem;

    &:nth-child(1),
    &:nth-child(4),
    &:nth-child(5) {
      flex: 50% 0 0;
    }

    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(6) {
      flex: 30% 0 0;
    }
  }

  @media (max-width: (@screen-md - 1)) {

    &:hover {
      transform: scale(1.03);
    }
  }

  @media (min-width: @screen-md) {
    box-shadow: none;
    opacity: 0;
    transform: translateY(1rem);
    transition:
      transform .7s cubic-bezier(0.16, 0.68, 0.43, 0.99) 0s,
      opacity .7s ease-in-out 0s, box-shadow .5s linear 0s;
  }

  img {
    object-fit: cover;
    object-position: left;
    transform-origin: center center;
    width: 100%;
    height: 100%;

  }
}