@font-face {
  font-family: 'Raleway';
  src: local('Raleway Thin'),
       local('Raleway-Thin'),
       url('ralewaythin.woff2') format('woff2'),
       url('ralewaythin.woff') format('woff'),
       url('ralewaythin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway ExtraLight'),
       local('Raleway-ExtraLight'),
       url('ralewayextralight.woff2') format('woff2'),
       url('ralewayextralight.woff') format('woff'),
       url('ralewayextralight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway ExtraBold'),
       local('Raleway-ExtraBold'),
       url('ralewayextrabold.woff2') format('woff2'),
       url('ralewayextrabold.woff') format('woff'),
       url('ralewayextrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway Black'),
       local('Raleway-Black'),
       url('ralewayblack.woff2') format('woff2'),
       url('ralewayblack.woff') format('woff'),
       url('ralewayblack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'),
       local('OpenSans'),
       url('opensans.woff2') format('woff2'),
       url('opensans.woff') format('woff'),
       url('opensans.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Bold'),
       local('OpenSans-Bold'),
       url('opensansbold.woff2') format('woff2'),
       url('opensansbold.woff') format('woff'),
       url('opensansbold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}