a,
area,
button,
[role='button'],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

[role='button'] {
  cursor: pointer;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  margin: 0;
  font-family: @font-family;
  color: @text-color;
  font-size: @font-size;
  background-color: @gray-darkest;
  // background-image: url(../images/bg--promo.jpg);
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: @screen-md) {
    background-image: url(../images/bg--promo.jpg);
  }
}

img {
  box-sizing: content-box;
  max-width: 100%;
  height: auto;
  border: 0;
}


h1, h2, h3, h4, h5, h6, ul, ol {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: @font-family--heading;
}

h1 {
  font-size: @font-size--h1;
}

h2 {
  font-size: @font-size--h2;
  font-weight: 400;
}

h3 {
  font-size: @font-size--h3;
}

h4 {
  font-size: @font-size--h4;
}

h5 {
  font-size: @font-size--h5;
}

h6 {
  font-size: @font-size--h6;
}

p {
  line-height: @line-height;
}

small {
  font-size: @font-size--small;
}

b,
strong {
  font-weight: 700;
}

a {
  text-decoration: none;
  background-color: transparent;
  transition: all ease-in-out 0.25s;
}

button {
  background-color: inherit;
  border: none;
}

// body.is-active {

//   .fullscreen-nav {
//     transform: translateY(0%);

//     &::after{
//       transition-delay: .1s;
//       transform: translateY(0%);
//     }

//     &::before{
//       transition-delay: 0s;
//       transform: translateY(0%);
//     }

    // &__item {
    //   opacity: 1;
    //   transform: translateX(0%);
    //   transition: opacity .3s ease, transform .3s ease, color .3s ease;
    //   @for $i from 0 through $menu--items--count {
    //     &:nth-child(#{$i}){
    //       transition-delay: $transition--length * $i / 8 + .5 + s;
    //     }
    //   }
    // }
//   }
// }