<header class="page-header">

  <div class="burger">
    <div class="burger__icon">
      <div class="burger__line burger__line--1"></div>
      <div class="burger__line burger__line--2"></div>
      <div class="burger__line burger__line--3"></div>
      <div class="burger__line burger__line--4"></div>
      <div class="burger__line burger__line--5"></div>
    </div>
  </div>

  <nav class="fullscreen-nav">
    <ul class="fullscreen-nav__list" id="menu">
      <li data-menuanchor="firstPage" class="fullscreen-nav__item"><a href="#firstPage">Главная</a></li>
      <li data-menuanchor="secondPage" class="fullscreen-nav__item"><a href="#secondPage">Услуги</a></li>
      <li data-menuanchor="3thPage" class="fullscreen-nav__item"><a href="#3thPage">Портфолио</a></li>
      <li data-menuanchor="4thPage" class="fullscreen-nav__item"><a href="#4thPage">Контакты</a></li>
    </ul>
  </nav>
</header>